header {
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--sombra-fixos-topo);
    position: fixed;
}

.header__conteudo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: var(--cor-de-fundo);
    overflow: hidden;
}

.header__conteudo-logo {
    height: 60%;
}

.header__conteudo-perfil {
    height: 45px;
    width: 45px;
    border-radius: 80px;
    overflow: hidden;
}

.header__conteudo-perfil > img {
    width: 100%;
}


