main {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    padding-bottom: 80px;
    z-index: 1;
}